@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 지정 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  /* 모든 파일에 폰트 지정 */
  * {
    font-family: "Pretendard-Regular";
  }
}

@layer components {
  .side_nav {
    @apply w-64 h-[100vh] border-r-2 px-3 flex flex-col justify-between;
  }

  .contents_base {
    @apply w-full h-[100vh];
  }

  .portfoilo_card {
    @apply w-60 h-96 border-2 rounded-md  bg-slate-50;
  }

  .smallportfoilo_card {
    @apply w-60 h-96 border-2 rounded-md  bg-slate-50  scale-50 cursor-pointer;
  }
}
